<div class="card">
  <div class="content">
    <p class="id">ADVICE #{{ slipObject.slip.id }}</p>

    <p class="advice">{{ slipObject.slip.advice}}</p>

    <img class="divider" src="/assets/img/pattern-divider-desktop.svg" alt="" />

    <div>
      <div class="btn-submit">
        <button
          id="refresh"
          mat-button
          class="btn-sub"
          type="submit"
          value="Submit"
        >
          <img src="/assets/img/icon-dice.svg" alt="" />
        </button>
      </div>
    </div>
  </div>
</div>
